
.inputStyle{
   
    height: 28px;
    border: none;
    border-bottom: 2px solid darkgreen;
    color: darkgreen;
    font-size: 16px;
    font-weight: 400;
    background-color: #98FB98;
    outline: 0;
}